@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
:root {
	/* Kode Warna Dasar Utama */
	--my-color:#0371fe;
	--my2-color:#0371fe;
	--panel-color:#f5f5f5;
	--black-color:#000000;
	--white-color:#ffffff;
	--gray-color:gray;
	--red-color:red;
	--transparent-color:transparent;
	--orange-color:orange;
	--filter-color:brightness(0) saturate(100%) invert(34%) sepia(66%) saturate(4761%) hue-rotate(205deg) brightness(101%) contrast(99%);
}
* {
	box-sizing:border-box;
	padding:0;
	margin:0;
	-webkit-tap-highlight-color:transparent;
}
body {
	user-select:none;
	font-family:"Lexend Deca",sans-serif;
	padding:0;
	margin:0;
	background:aliceblue;
}
button,input,p,h1,h2,h3,h4,h5,h6 {
	font-family:"Lexend Deca",sans-serif;
}
body.dark-mode {
    background-color: #121212;
    color: #ddd;
}
body.dark-mode header {
    background: #222;
}
body.dark-mode .the-panel, 
body.dark-mode .box-card, 
body.dark-mode .menu-panel, 
body.dark-mode .layanan, 
body.dark-mode .tabs, 
body.dark-mode .secure,
body.dark-mode .menu-panel-layanan > .menu,
body.dark-mode .offcanvas {
    background-color: #1e1e1e;
    color: #ccc;
}
body.dark-mode .saldo-box{
    background-color: #222;
    color: #ccc;
}
body.dark-mode .nav-bar {
    background-color: #222;
}
body.dark-mode .nav-btn {
    color: #ccc;
}
body.dark-mode .nav-btn.active {
    background-color: var(--transparent-color);
    color: #fff;
}
body.dark-mode .menu:hover,
body.dark-mode .menu-paket:hover {
    background-color: #1e1e1e;
    color: var(--my-color);
}
body.dark-mode .pusat {
  background-color:  #222;
    color: #fff;  
}
body.dark-mode .pusat2 {
  background-color:  #1e1e1e;
    color: #fff;  
}
body.dark-mode .poin{
    background-color:  #222;
    color: #fff;  
}
.container {
	padding-left: 10px;
  padding-right: 10px;
}
header {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height: 120px;
	background: var(--my-color);
	z-index:-1;
}
.member {
	display:flex;
	align-items:center;
	gap:15px;
	padding:14px;
	color: var(--white-color);
}	
.member span {
width:100%;
}
.member p {
	font-size:11px;
}
.member h5 {
	font-size:15px;
	font-weight:bold;
}
.foto-profil {
	width:45px;
	border-radius:100px;
}
.bell {
	width:25px;
	filter:invert(100%) sepia(0%) saturate(7451%) hue-rotate(52deg) brightness(93%) contrast(112%);
	animation:ayun-pelan 3s ease-in-out infinite;
}
@keyframes ayun-pelan {
	0%,100% {
		transform:translateX(0);
	}
	50% {
		transform:translateX(2px);
	}
}
 .box-card{
     background: var(--white-color);
     padding-bottom: 15px;
     padding-top: 15px;
     border-radius: 15px;
 }   
.saldo-member {
	color: var(--white-color);
	margin-top:15px;
	display:flex;
	align-items:center;
	gap:10px;
}
.saldo-member p {
	font-size:12px;
	font-weight:400;
}
.saldo-member h5 {
	font-size:18px;
	color:var(--my-color);
}
.saldo-member span {
	font-size:12px;
	margin-right:2px;
	font-weight:bold;
}
.flx {
	display:flex;
	margin-top:5px;
}
.the-panel {
	background: var(--white-color);
	padding:14px;
	border-radius:15px;
	margin-top:0px;
}
.menu-panel {
	display:grid;
	grid-template-columns:repeat(4,1fr);
	gap:10px;
	text-align:center;
}
.menu-panel img {
	width:35px;
}
.menu-panel p {
	font-size:12px;
	font-weight:550;
}
.cvr {
	background:#ffffff42;
	width:37px;
	height:35px;
	border-radius:10px;
	display:flex;
	align-items:center;
	justify-content:center;
}
.cvr img {
	width:15px;
	filter:invert(100%) sepia(94%) saturate(22%) hue-rotate(38deg) brightness(106%) contrast(106%);
}
.w-full {
	width:100%;
}
/*========== OVERLAY ==========*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px); /* efek blur */
  -webkit-backdrop-filter: blur(5px);
  display: none;
  z-index: 99999999;
  pointer-events: none;
  transition: pointer-events 0s linear 0.2s;
}
.overlay.active {
  pointer-events: auto;
  transition-delay: 0s;
}

/*========== AKHIR OVERLAY ==========*/
.offcanvas {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--white-color);
  padding: 15px;
  z-index: 99999999;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transform: translateY(100%);
  transition: transform 0.2s ease-in-out;
  max-height: 100vh;     
  overflow-y: auto;       
}
.btn {
	padding:10px 15px;
	background:#007bff;
	color: var(--white-color);
	border:none;
	cursor:pointer;
	border-radius:5px;
	margin:10px;
}
.btn-close {
	background:red;
	float:right;
}
.layanan {
	padding:14px;
	border-radius:15px;
	background: var(--white-color);
	margin-top:10px;
}
.menu-panel-layanan {
	display:grid;
	grid-template-columns:repeat(4,1fr);
	gap:10px;
	text-align:center;
}
.autoplay-progress svg {
	transition:stroke-dashoffset 0.1s linear;
}
.menu-panel-layanan div {
	margin-top:0px;
	margin-bottom:0px;
}
.menu-panel-layanan img {
	width:55px;
	background: var(--white-color);
	padding:5px;
	border-radius:15px;
	box-shadow:0 4px 8px rgba(3,113,254,0.4);
}
.menu-panel-layanan p {
	font-size:12px;
	font-weight:500;
}
.tabs {
	width:100%;
	max-width:100%;
	position:relative;
	background: var(--white-color);
	border-radius:15px;
	margin-top:10px;
}
.tab-buttons {
	display:flex;
	position:relative;
//*	border-bottom:3px solid #f1f1f1; *//
}
.tab-buttons button {
	flex:1;
	padding:10px;
	padding-top:13px;
	border:none;
	background:none;
	cursor:pointer;
	font-weight:bold;
	font-size:14px;
	position:relative;
	transition:color 0.3s;
}
.tab-buttons button.active {
	color:var(--my-color);
}
.tab-indicator {
	position:absolute;
	bottom:-3px;
	height:3px;
	width:50%;
	background:var(--my-color);
	transition:transform 0.3s ease-in-out;
}
.tab-content {
	overflow:hidden;
	position:relative;
	width:100%;
}
.content {
	display:flex;
	width:100%;
	transition:transform 0.3s ease-in-out;
}
.content div {
	width:100%;
	box-sizing:border-box;
	text-align:center;
	flex-shrink:0;
	padding-top:5px;
	padding-bottom:5px;
}
swiper-container {
	width:100%;
	height:100%;
	margin-top:10px;
	border-radius:15px;
}
swiper-slide {
	text-align:center;
	border-radius:15px;
	background: var(--white-color);
	display:flex;
	justify-content:center;
	box-shadow:0 -1px 5px rgba(0,0,0,0.1);
	align-items:center;
}
swiper-slide img {
	display:block;
	width:100%;
	height:100%;
	border-radius:15px;
	object-fit:cover;
}
swiper-slide {
	width:92%;
}
.secure {
	padding:14px;
	border-radius:15px;
	background: var(--white-color);
	margin-top:10px;
	margin-bottom:15px;
}
.header-scure {
	display:flex;
	align-items:center;
	gap:4px;
}
.shield-img {
	width:30px;
}
.header-scure h5 {
	font-size:13px;
	font-weight:bold;
	margin:0;
}
.header-scure p {
	font-size:11px;
	margin:0;
}
.lindungi {
	display:flex;
	border:1px solid #42a5f5;
	border-radius:4px;
	gap:4px;
	align-items:center;
	padding-right:5px;
}
.d-flex {
	display:flex;
	align-self:center;
}
.w-100 {
	width:100%;
}
.lindungi h4 {
	font-size:11px;
	font-weight:bold;
	color:var(--my-color);
	margin:0;
}
.lindungi button {
	background:var(--my-color);
	padding:4px;
	color: var(--white-color);
	border-radius:4px 0px 0px 4px;
	border:none;
}
.lindungi button h5 {
	font-size:11px;
	font-weight:bold;
	margin:0;
	margin-left:3px;
}
.lindungi button img {
	width:15px;
	filter:invert(100%) sepia(0%) saturate(7496%) hue-rotate(145deg) brightness(119%) contrast(100%);
}
.name-percent {
	position:relative;
	overflow:hidden;
	height:40px;
	border:1px solid #f1f1f1;
	border-radius:10px;
	margin-top:15px;
}
.text-container {
	display:flex;
	flex-direction:column;
	animation:flip 8s infinite ease-in-out;
	height:160px;
}
.text-container span {
	display:block;
	text-align:center;
	line-height:40px;
	height:40px;
	font-size:12px;
	font-weight:500;
}
@keyframes flip {
	0%,25% {
		transform:translateY(0);
	}
	30%,50% {
		transform:translateY(-40px);
	}
	55%,75% {
		transform:translateY(-80px);
	}
	80%,95% {
		transform:translateY(-120px);
	}
	100% {
		transform:translateY(0);
	}
}
.bottom-secure {
	display:flex;
	align-items:center;
	gap:10px;
	margin-top:12px;
}
.bottom-secure div {
	text-align:center;
	width:100%;
}
.bottom-secure p {
	font-size:10px;
	font-weight:450;
	margin-bottom:0;
	margin-top:2px;
}
.bottom-secure img {
	width:30px;
}
.poin {
	background:aliceblue;
	display:flex;
	align-items:center;
	gap:10px;
	padding:15px;
	border-radius:15px;
}
.poin span {
	width:100%;
}
.poin h5 {
	font-size:14px;
}
.poin p {
	font-size:11px;
}
.icon-poin {
	width:30px;
}
.poin button {
	border:none;
	background:var(--my-color);
	color: var(--white-color);
	padding:8px;
	border-radius:10px;
}
.transaksi {
	padding:15px;
	border-radius:15px;
	width:100%;
	margin-top:10px;
}
.transaksi p {
	font-size:12px;
}
.transaksi h5 {
	font-size:14px;
}
.one-b {
	background:rgba(0,255,34,0.226);
}
.two-b {
	background:rgba(255,0,0,0.226);
}
.three-b {
	background:rgba(255,166,0,0.24);
}
.four-b {
	background:#005d8842;
}
a {
	text-decoration:none;
	color:black;
}
.menu-paket {
	display:flex;
	align-items:center;
	gap:10px;
	border-bottom:1px solid #f1f1f1;
	padding:10px;
	padding-left:5px;
	margin-bottom:5px;
	margin-top:5px;
}
.menu-paket:hover {
	background:aliceblue;
	color:var(--my-color);
	border-radius:6px;
}
.menu-paket p {
	font-size:14px;
	width:100%;
}
.menu-paket img {
	width:11px;
	opacity:.7;
}
.collapse-container.active .collapse-content {
	display:block;
}
.saldo-box {
	position:relative;
	padding:14px;
	border-radius:15px;
	background:#f1f1f1;
	width:100%;
}
.saldo-box img {
	width:23px;
	position:absolute;
	right:10px;
	top:10px;
}
.saldo-box p {
	font-size:11px;
	margin: 0;
}
/*========== LOADING MEMUAT ==========*/
#loading-overlay {
	position:fixed;
	inset:0;
	background:rgba(255,255,255,0.9);
	display:flex;
	justify-content:center;
	align-items:center;
	z-index:99999999;
}
.spinner {
	--d:22px;
	width:4px;
	height:4px;
	border-radius:50%;
	z-index:1;
	color:var(--my-color);
	opacity:0.5;
	box-shadow:calc(1*var(--d)) calc(0*var(--d)) 0 0,calc(0.707*var(--d)) calc(0.707*var(--d)) 0 1px,calc(0*var(--d)) calc(1*var(--d)) 0 2px,calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,calc(-1*var(--d)) calc(0*var(--d)) 0 4px,calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,calc(0*var(--d)) calc(-1*var(--d)) 0 6px;
	animation:l27 1s infinite steps(8);
}
@keyframes l27 {
	100% {
		transform: rotate(1turn)
	}
}
/*========== NAV BAR ==========*/
.nav-bar {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	display:flex;
	justify-content:space-between;
	background-color:var(--white-color);
	padding:10px 12px;
	box-shadow:0 -1px 5px rgba(0,0,0,0.1);
	z-index:1000;
	gap:5px;
	padding-bottom:18px;
}
.nav-btn {
	background-color:transparent;
	border:none;
	color:#555;
	font-size:12px;
	font-weight:600;
	border-radius:10px;
	cursor:pointer;
	transition:all 0.3s ease;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	gap:4px;
	padding:5px 8px;
	min-width:56px;
	flex-grow:1;
	white-space:nowrap;
}
.nav-btn i {
	font-size:20px;
	line-height:1;
}
.nav-btn:hover {
	background-color:var(--transparent-color);
	color:var(--black-color);
	border-radius:100px;
}
.nav-btn.active {
	background-color:var(--transparent-color);
	color: #555;
	box-shadow:none;
	border-radius:100px;
}
.nav-indicator {
	position:absolute;
	bottom:14px;
	height:60px;
	margin-left:0px;
	border-radius:100px;
	background-color:var(--transparent-color);
	transition:left 0.3s ease,width 0.3s ease;
	//* box-shadow:0 4px 8px rgba(3,113,254,0.4); *//
	will-change:left,width;
	z-index: -1;
}
/*========== TAMBAHAN CARD LIST ==========*/
.codingasik-flex {
	display:flex;
	background-color:var(--transparent-color);
	
}
.pusat {
	background-color:var(--white-color);
	border-radius:0px 0px 10px 10px;
	padding-top:20px;
	font-size:15px;
	color:var(--black-color);
	padding-top:10px;
	padding-buttom:10px;
	padding-left:10px;
}
.pusat2 {
	background-color:var(--my-color);
	border-radius:10px 10px 0px 0px;
	padding-top:20px;
	font-size:15px;
	color:var(--white-color);
	font-weight:600;
}
.image-operator img {
	width:40px;
	padding:5px;
	border:none;
	margin-bottom:5px;
	margin-top:5px;
	border-radius:7px;
}
.text-operator h5 {
	font-size:13px;
	font-weight:600;
	color:var(--my-color);
	text-decoration:none;
	margin-bottom:0px;
	margin-top:10px;
	margin-left:11px;
}
.text-operator p {
	font-size:12px;
	width:80%;
	color:var(--text-color);
	text-decoration:none;
	margin-bottom:0px;
	margin-left:8px;
	padding:5px;
}
.font {
	padding:0;
	margin:0;
	font-size:13px;
	font-weight:600;
	color: var(--white-color);
}
/*========== AKHIR CARD LIST ==========*/  
 
.switch {
  position: relative;
  display: inline-block;
  width: 3rem;       
  height: 1.5rem;
  margin-left: 15px;
  vertical-align: middle;
  cursor: pointer;
  flex-shrink: 0;   
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}
.slider {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  border-radius: 1.5rem;
  transition: background-color 0.4s;
}
.slider::before {
  position: absolute;
  content: "";
  height: 1.2rem;
  width: 1.2rem;
  left: 0.15rem;
  bottom: 0.15rem;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* Slide when checked */
input:checked + .slider {
  background-color: var(--my-color);
}
input:checked + .slider::before {
  transform: translateX(1.5rem);
}